<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CategoryMapper">

    <insert id="insert">
        insert into category(type,name,sort,status,update_user,update_time)
        values(#{type},#{name},#{sort},'0',#{updateUser},#{updateTime});
    </insert>

    <select id="pageQuery" resultType="com.sky.entity.Category">
        select * from category
        <where>
            <if test="type !=null">
                and type=#{type}
            </if>
            <if test="name !=null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by sort desc
    </select>
</mapper>