<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <update id="update">
        update dish
        <set>
            <if test="name !=null">name=#{name},</if>
            <if test="categoryId !=null">category_id=#{categoryId},</if>
            <if test="price !=null">price=#{price},</if>
            <if test="image !=null">image=#{image},</if>
            <if test="description !=null">description=#{description},</if>
            <if test="status !=null">status=#{status},</if>
            <if test="createTime !=null">create_time=#{createTime},</if>
            <if test="createUser !=null">create_user=#{createUser},</if>
            <if test="updateTime !=null">update_time=#{updateTime},</if>
            <if test="updateUser !=null">update_user=#{updateUser},</if>
        </set>
        where id=#{id}
    </update>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select dish.*,category.name as categoryName from dish,category
        <where>
            <if test="name !=null">and name like concat('%',#{name},'%'),</if>
            <if test="categoryId !=null">and category_id=#{categoryId}, </if>
            <if test="status !=null">and status=#{status},</if>
            and category.id=dish.category_id
        </where>
        order by create_time desc
    </select>



</mapper>